.DS_Store
.vscode

*.class

frontend/.idea/caches/deviceStreaming.xml
frontend/.idea/vcs.xml
frontend/.idea/modules.xml
frontend/.idea/libraries/Flutter_Plugins.xml
frontend/.idea/libraries/Dart_SDK.xml
frontend/.idea/frontend.iml
frontend/.dart_tool/dartpad/web_plugin_registrant.dart
frontend/.dart_tool/package_config.json
frontend/.dart_tool/package_config_subset
frontend/.dart_tool/version
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=1727402026.4219394_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
frontend/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=32484d4ac6f887b49c97c8530dee590f-json
frontend/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=64ae343282da8c3d3d246523b7c3f799-json
frontend/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=8188a1e45fb7023153b9cb7a7bf9988f-json
frontend/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=87b922daaf7ee90191c99c1a97be78b4-json
frontend/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=fc4bb5e468a015271b4c86686e8b6d62-json
frontend/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=9778d472f300571dae685c2332e4e8b1-json
